<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Weather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="weather" class="weather-card">
    <ion-card-header>
      <ion-card-title style="text-align: center"
        >{{ weather.name }}</ion-card-title
      >
    </ion-card-header>
    <div
      class="weather-icon"
      [ngSwitch]="weather.weather[0].main"
      style="color: black"
    >
      <ion-icon *ngSwitchCase="'Clouds'" name="cloud-outline"></ion-icon>
      <ion-icon *ngSwitchCase="'Rain'" name="rainy-outline"></ion-icon>
      <ion-icon *ngSwitchCase="'Snow'" name="snow-outline"></ion-icon>
      <ion-icon *ngSwitchCase="'Clear'" name="sunny-outline"></ion-icon>
      <ion-icon
        *ngSwitchCase="'Thunderstorm'"
        name="thunderstorm-outline"
      ></ion-icon>
      <ion-icon *ngSwitchDefault name="partly-sunny-outline"></ion-icon>
    </div>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">Temperature:</ion-col>
          <ion-col size="6">{{ weather.main.temp }}°C</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">Weather:</ion-col>
          <ion-col size="6">{{ weather.weather[0].description }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">Humidity:</ion-col>
          <ion-col size="6">{{ weather.main.humidity }}%</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">Wind Speed:</ion-col>
          <ion-col size="6">{{ weather.wind.speed }} m/s</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <div *ngIf="notFound" class="not-found-message">
    <p style="text-align: center">City not found.</p>
  </div>

  <!-- added by Pawel -->
  <div *ngIf="badNetwork" class="not-found-message">
    <p style="text-align: center">
      You are offline. Check your internet connection.
    </p>
  </div>
</ion-content>
