.card {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightgray;

  ion-icon {
    font-size: 2rem;
  }
}

.input {
  background-color: gray;
  display: flex;
}
